profiles {
    standard {
        process {
            executor = 'local'
        }
    }
    // Cluster with Slurm scheduler
    slurm {
        conda.enabled = false // enable if Julia>=1.9 or R>=4 are not available on the cluster 
    	process {
            process.conda = "$baseDir/custom-conda-env.yml"
	    clusterOptions = "$CLUSTER_OPTIONS" // should contain at least '--account=YOUR-ACCOUNT'
	    withLabel: cluster_light_job {
	        scratch = true
	        executor = 'slurm'
                cpus = 2
                memory = 4.GB
                time = '30m'
            }
            withLabel: cluster_full_job {
	        scratch = true
	        executor = 'slurm'
        	memory = 48.GB
        	time = '4h'
    	    }
	    withLabel: local_job {
	        // cannot use scratch=true otherwise set_up_env fails
		executor = 'local'
	    }
	}
    }
}

executor {
  $local {
      cpus = 4
      memory = 12.GB
  }
  $slurm {
      queueSize = 500
  }
  $pbspro {
      queueSize = 500
  }
}

