conda.enabled = true
process {
    scratch = true
    process.conda = "$baseDir/custom-conda-env.yml"
    withLabel: pbs_light_job {
        executor = 'pbspro'
        clusterOptions = '-A st-tdjc-1'
        cpus = 2
        memory = 8.GB
        time = '10m'
    }
    withLabel: pbs_full_job {
        executor = 'pbspro'
        queueSize = 200
        clusterOptions = '-A st-tdjc-1'
        cpus = 9
        memory = 48.GB
        time = '1h'
    }
    withLabel: local_job {
        executor = 'local'
    }
}

executor {
    name = 'slurm'
    queueSize = 200
}

