process {
    scratch = true
    process.conda = "$baseDir/custom-conda-env.yml"
    withLabel: pbs_light_job {
        executor = 'pbspro'
        clusterOptions = '-A st-tdjc-1'
        cpus = 2
        memory = 4.GB
        time = '10m'
    }
    withLabel: pbs_full_job {
        executor = 'pbspro'
        clusterOptions = '-A st-tdjc-1'
        cpus = 32
        memory = 8.GB
        time = '30m'
    }
    withLabel: local_job {
        executor = 'local'
    }
}
